[2014-05-07 15:00] dan-searle opened #1 "Add table caption styles"
Example at bottom of this article:
http://www.ft.com/cms/s/0/65edcf6e-d11c-11e3-9f90-00144feabdc0.html

@pauloneillft, please confirm design before we add it.

[2014-06-05 14:58] #1 closed, assigned to nobody

[2014-06-05 15:12] dan-searle opened #2 "Changes requested by IG"
**Change existing modifier classes**:

`--vertical-lines` should not render outer vertical lines, only inner ones
`--horizontal-lines` should not render outer horizontal lines, only inner ones

**Add new modifier classes**:

`--vertical-borders` for rendering outer vertical lines (not inner ones)
`--horizontal-borders` for rendering outer horizontal lines (not inner ones)

**Design changes**:

Col

[2014-06-05 15:13] dan-searle opened #3 "Remove captions from all demos except the captions one"
It gives the impression that tables should normally have captions.

[2014-06-05 15:15] dan-searle opened #4 "Create interactive demo to demonstrate all possible switch combinations"
It will help express that table designs are achieved by using a combination of switches, rather than themes etc.

[2014-06-12 13:40] #2 closed, assigned to nobody

[2014-06-12 13:40] #3 closed, assigned to nobody

[2014-06-12 13:40] #4 closed, assigned to nobody

[2014-07-17 09:47] commuterjoy opened #8 "Clarify browser support"
This component does not indicate what browsers it has been tested on, making it hard for products to make a decision to whether to use it. If you've not done so, please can you test it and document where this code will run.

[2015-03-19 17:20] #8 closed

[2016-02-18 16:11] wheresrhys opened #18 "Responsive tables"
As requested, here are some examples of responsive tables

- Some interesting scroll based ideas here http://zurb.com/playground/projects/responsive-tables/index.html. Not sure I like it though
- Flex box + pseudo content based solution https://css-tricks.com/responsive-data-tables/. Not sure how unopinionated/reusable it can be
- An overview of a few techniques http://elvery.net/demo/responsive-t

[2016-02-24 11:48] callumlocke opened #19 "All demos appear unstyled on registry"
![image](https://cloud.githubusercontent.com/assets/250617/13284466/585c3eb8-daec-11e5-86f0-f3354078d1ea.png)

[2016-02-24 11:56] callumlocke opened #20 "Interactivity question"
IG often have a need for interactive features on tables:

- click to sort by column
- type to filter rows

Example at [ft.com/mooc](http://ft.com/mooc)

Would it be a good idea to try and get these features into o-table? Or better to make a new 'interactive table' component built on top of o-table?

[2016-02-24 12:14] AlbertoElias commented on #20
Yes, we spoke about this in the last origami meeting. @JakeChampion was going to put in an initial pr with sorting I believe

[2016-02-24 12:33] JakeChampion commented on #20
I have code for

I don't have code for

[2016-02-24 13:08] callumlocke commented on #20
Re click-to-sort... We often need to be able to sort values by obscure schemas (not simply taking the td's innerText and sorting alphanumerically). I think the best way is to have an optional data attribute on the `td`, which allows you to override that cell's 'value' for sorting purposes. Something like `data-o-table-order="1"`. Have you got something like that in your code, or would it be easy t

[2016-03-14 11:35] JakeChampion commented on #20
I believe this can be closed thanks to the latest release -- https://github.com/Financial-Times/o-table/releases/tag/v4.0.0

[2016-03-14 11:35] #20 closed

[2016-03-14 17:24] wheresrhys opened #23 "Use aria-sort"
https://www.w3.org/TR/wai-aria/states_and_properties#aria-sort

[2016-03-15 14:57] onishiweb commented on #19
Fixed in #21

[2016-03-15 14:57] #19 closed

[2016-03-17 09:25] callumlocke commented on #20
Looks good, thanks

[2016-03-24 17:59] SarahHornsey opened #24 "New o-table style"
![table annotations v1](https://cloud.githubusercontent.com/assets/8235225/14636136/abe02350-0621-11e6-8c0e-51e371853016.png)

[2016-04-06 14:10] j-mes commented on #24
The technical implementation of the responsive tables can be found at [CodePen](http://codepen.io/j_mes/pen/oxoGpr). I'm currently exploring ways of making it more accessible without using `:before` for the `<td>` when it comes to narrow viewpoints as mentioned in [Accessibility support for CSS generated content](http://tink.uk/accessibility-support-for-css-generated-content/).

I'm looking at the

[2016-04-18 09:53] j-mes commented on #24
@SarahHornsey I'm looking to implement the graphic changes to `o-table` today as a v4 version, while the work continues on v5. The only thing I can see that might not be in `o-colors` is the background stripe (listed as #FEEBD6 - The closest tint (to my eyes) is red-tint5) which isn't using any of the pink tints. And I think last week that opacity was not to be used for altering the tints that are

[2016-04-18 10:12] SarahHornsey commented on #24
@j-mes hi james, can we use warm-1#ffe9d7 instead? thanks

[2016-04-18 11:03] j-mes commented on #24
Good choice 👍 . I've nearly finished with this version (Adding a responsive version later).

@SarahHornsey With the small wording part in the `o-table`, would that also apply to the compact version of the table data text colour or just for outside the table?

[2016-04-18 11:07] SarahHornsey commented on #24
@j-mes Sorry, I don't understand the question? Do you mean should the small wording show on the compact table?

[2016-04-18 11:21] j-mes commented on #24
_(For people following this... this got resolved in the office!)_

We are pondering regarding the usage of the small wording, as it would be a new bit inside `o-table` and whenever it would be used enough to merit its inclusion. The example attached to this issue shows it outside the table, but other mockups from product teams shows it inside the heading table cells.

[2016-04-18 16:24] j-mes commented on #24
Latest changes can be seen below.

**Before**
![original-preview](https://cloud.githubusercontent.com/assets/5721977/14611451/3042da0e-058a-11e6-9f74-b3bd17945ff6.png)

**After**
![o-table-preview](https://cloud.githubusercontent.com/assets/5721977/14606916/3596d0fe-0577-11e6-9dc6-7ae56c79af7d.png)

[2016-04-18 16:33] SarahHornsey commented on #24
@j-mes thanks. Is that Metric Semi-bold or bold in the column heading?

[2016-04-19 09:08] SarahHornsey commented on #24
@j-mes can you change the column / row heading to Sans Bold ? thanks!

[2016-04-19 09:30] j-mes commented on #24
@SarahHornsey I am not quite sure actually. I will have a look since it's pulling the typography rules from `o-typography`.

[2016-04-19 10:09] SarahHornsey commented on #24
@j-mes - Here are the amends, does this make sense?
![artboard 1](https://cloud.githubusercontent.com/assets/8235225/14635623/22318e8e-061f-11e6-977a-922936b2157d.png)

[2016-04-19 10:15] SarahHornsey commented on #24
@j-mes thanks, let me know if you are stuck on anything...

![artboard 1](https://cloud.githubusercontent.com/assets/8235225/14635834/0c7032b6-0620-11e6-9421-6b917955293a.png)

[2016-04-19 12:26] j-mes commented on #24
Latest version can be seen below:

![typography-change](https://cloud.githubusercontent.com/assets/5721977/14639040/3e72bbb4-0632-11e6-8160-28d175fccbc4.png)

[2016-04-19 13:46] j-mes commented on #24
@SarahHornsey Would you mind telling me which colours are assigned to the `primary-data` and `secondary-data` elements in your latest example on the first column please?

[2016-04-19 13:52] SarahHornsey commented on #24
@j-mes the primary data is a link and the secondary data is grey-tint4. Also, could the second table column data and header be aligned right, like the others. thanks

[2016-04-19 14:41] j-mes commented on #24
The markup of the demo had put the text with the numeric data to align to the right inside the heading column. If someone uses the `o-table` module, they can decide whenever to use text-align: right; on the column headings. The default behaviour for text without the numeric data markup will be aligned to the left inside the heading column.

[2016-04-22 10:52] j-mes commented on #24
This has been solved with #26. Closing.

[2016-04-22 10:54] #24 closed

[2016-04-27 10:50] j-mes commented on #18
@SarahHornsey Could you have a look at the last [link](http://elvery.net/demo/responsive-tables/) in particular with the flipscroll idea.

I think that could work and be one of the responsive options that product teams can use alongside with the horizontal scrolling from the current version, and the table-less version that I have already created.

[2016-05-04 10:17] j-mes commented on #23
Writing something more about `aria-sort` to be more useful later on down the pipeline when addressing this issue.

Basically `aria-sort:` has four options. They are `ascending`, `descending`, `none` and `other`. Each one of these are fairly obvious to what they do apart from `other` which can be defined with a custom sort algorithm.

The caveat with `aria-sort` via the W3 documentation is that **o

[2016-05-12 13:19] onishiweb opened #28 "Remove modifiers demo"

[2016-05-12 14:31] j-mes commented on #28
Ooh mrs. I'll remove the modifiers demo from v5 if that appeals?

[2016-05-12 14:38] onishiweb commented on #28
Yeh that'll be great 👍

[2016-05-24 16:27] antoligy opened #29 "Should striped tables take hidden elements into account?"
Hey,

I've a use-case now where we're hiding elements in a table using an absurdly simplistic search, which involves setting the display of rows to none.  This works fairly well, however using a striped o-table I get this:
![Borked](http://d.ax.gy/RYSI+)

Any ideas on how to best address this?

[2016-05-30 07:42] AlbertoElias commented on #23
Isn't sorting a feature exclusive to enhanced experience anyway?

[2016-05-31 08:53] j-mes commented on #23
Yes it is, and it could be workable on core, only if it sorted one column!

[2016-05-31 09:36] onishiweb commented on #29
Hi @antoligy, thanks for the issue. I've looked into it and been thinking about a possible solution but I can't come up with any that wouldn't require us manipulating the table with JavaScript in the component. Which I don't think is a great solution for something like striped rows...

The rows are striped using the `nth-child(even)` selector, which takes into account all children of the element r

[2016-05-31 09:58] onishiweb opened #30 "Remove styling on data attr hook"
https://github.com/Financial-Times/o-table/blob/master/src/scss/_base.scss#L50 should be styled with a class

[2016-06-07 10:44] onishiweb opened #34 "Default table style"
The default styles for tables should be:

![screen shot 2016-06-07 at 11 31 10](https://cloud.githubusercontent.com/assets/1240073/15854968/a95cbeaa-2ca4-11e6-9873-dbc36168b86e.png)

Currently modifiers provide these styles so we should change this to be the standard styling without modifiers.

@SarahHornsey are there any modifications products should be allowed to make to this default style? (i.e

[2016-06-07 10:46] SarahHornsey commented on #34
@onishiweb no, we don't want to allow any modifications thanks

[2016-06-07 11:16] #28 closed

[2016-07-19 09:24] #29 closed

[2016-08-02 09:54] sdbernard opened #36 "Font weight for tds"
I really think we need to revisit the font-weight on the tables. The light font is starting to break down especially on the compact table. All our web charts use regular weight and I think tables should be no exception.

[2016-08-17 13:23] alicebartlett commented on #36
Thanks @sdbernard. Sounds like a job for design, @SarahHornsey are you able to take a look and coordinate with steve?

[2016-08-17 13:45] SarahHornsey commented on #36
@sdbernard are you talking about the newly designed tables in Markets Data?

[2016-08-17 13:46] sdbernard commented on #36
@SarahHornsey no the tables in the origami components

[2016-09-01 11:11] #18 closed

[2016-09-01 11:11] onishiweb commented on #23
@JakeChampion this can be closed right?

[2016-09-01 11:13] onishiweb commented on #30
Closing because I'm not sure this is a thing anymore (or at least if it is the code that was on the line this is referring to has now moved).

[2016-09-01 11:13] #30 closed

[2016-09-01 11:14] onishiweb opened #38 "Update demos"
What are the correct demos to display in the Registry?

We should make sure that the demos that are being displayed are the current recommended design for the tables and remove things like the base demo which appears to have no visual styling.

[2016-09-01 14:24] JakeChampion commented on #23
I don't think so, we currently don't have aria-sort in the component

[2016-09-01 14:26] onishiweb commented on #23
Ok, should just be the case of adding the `aria-sort` property when the table is sorted. Will leave this open until one of us finds time to add it in.

[2016-11-22 11:07] lc512k opened #41 "no thead/tbody break JS"
Creating a table with no thead or tbody breaks the JS on the page.

Removing thead and tbody from the table below surface the problem in the next-stream-page app
[code]

[2016-11-24 16:55] #41 closed

[2016-11-24 17:20] #23 closed

[2016-12-09 16:42] robgodfrey-ft opened #45 "Sorting numeric columns"
Hi

Sorting numeric columns appears to be using a string compare rather than a numeric compare function. For example a single column table with the value 3, 33 and 222  will sort as either 222, 3, 33 (asc) or 33, 3, 222 (desc). Ideally this would sort numerically.

From pastebin:<!DOCTYPE html>
<html lang="en" class="o-hoverable-on ">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatib

[2016-12-09 16:50] onishiweb commented on #45
Hi @robgodfrey-ft, can you send us a link to the code you're using. Looking at the demos in the registry (http://registry.origami.ft.com/components/o-table) the sorting appears to be working ok with numeric values.

[2016-12-12 09:23] robgodfrey-ft commented on #45
I have created a gist: https://gist.github.com/anonymous/9bf5a8f1d43ef55c1aaa812011f5ad83

I think the examples in the o-table demo work as expected is because all the numeric values are the same number of characters (i.e. same length). Once the length starts to vary the sort order is affected, producing unexpected results.

[2016-12-12 10:12] onishiweb commented on #45
Thanks for the example @robgodfrey-ft, on your `th` and `td`'s where the data is numeric, you're missing the attributes `data-o-table-data-type="numeric" class="o-table__cell--numeric"` which are required for the JS to work out to sort numerically instead of as a string.

I've tested with your example code and it seems to work fine, you can see these being used in any of our example code in the Re

[2016-12-12 10:12] #45 closed

[2016-12-12 10:28] robgodfrey-ft commented on #45
Ok thanks. FYI Looks like the demo for Responsive-Overflow and Responsive-Scroll don't include those attributes on the numeric columns.

[2016-12-12 10:30] onishiweb commented on #45
Ah ok thanks, I'll add an issue to update those demos.

[2016-12-12 10:30] onishiweb opened #46 "Add numeric attributes to all demo code"

[2017-03-24 15:24] alicebartlett opened #49 "o-colors, o-typography, o-fonts"
- [x] o-colors
- [x] o-typgoraphy
- [x] o-fonts

[2017-05-31 14:46] #36 closed

[2017-05-31 14:47] alicebartlett opened #50 "Add sort indicators"
Right now, you can't tell that the tables are sortable as the ths have no affordances to show that.
We should add them this is not very accessible without them!

[2017-06-01 12:30] #49 closed

[2017-09-12 14:55] notlee commented on #46
Added in https://github.com/Financial-Times/o-table/releases/tag/v6.0.1

[2017-09-12 14:55] #46 closed

[2017-09-18 17:01] joannaskao opened #59 "Integrate o-tracking to get analytics on table sorting interactions"
Would love to get analytics on how often people sort up/down and on what particular columns they sort on (e.g. record the name of the column along with the direction).

[2017-09-20 08:40] notlee commented on #50
Addressed in [v6.1.0 ](https://github.com/Financial-Times/o-table/releases/tag/v6.1.0)

[2017-09-20 08:43] #50 closed

[2017-09-22 14:34] notlee opened #61 "Support sorting blank table cells (and add a visual indication such as "-")"
![untitled](https://user-images.githubusercontent.com/10405691/30749498-7cd87b50-9fab-11e7-90b0-5391dda24d54.jpg)

[2017-09-22 16:47] notlee commented on #61
https://github.com/Financial-Times/o-table/pull/62

[2017-09-25 10:35] notlee commented on #61
v6.2.0  https://github.com/Financial-Times/o-table/releases/tag/v6.2.0

[2017-09-25 10:35] #61 closed

[2017-11-17 16:09] wheresrhys opened #73 "sorting fails when rows have headings"
Example html
[code]

[2018-01-10 12:49] gvonkoss commented on #38
This is going to be naturally amended when the brand component gets released, so am closing.

[2018-01-10 12:49] #38 closed

[2018-01-15 10:40] gvonkoss commented on #73
@wheresrhys if you're still having this issue, could you come around and show me what the problem is?

[2018-01-24 16:03] #73 closed

[2018-01-26 14:21] rowanmanning commented on #59
Thanks @joannaskao, Lee's going to look at this as part of a larger table overhaul so gonna mark it as blocked for now while we wait for that work to start :)

[2018-02-07 16:45] dndhm opened #78 "Example markup on registry.origami.ft.com is invalid"
[code]
is given as example markup for several of the demos, but this is invalid HTML.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead

[2018-02-13 11:10] laurieboyes opened #80 "We would love a way to specify non-sortable columns"
E.g. in this case I don't want the checkbox column to be sortable:

![screen shot 2018-02-13 at 10 51 45](https://user-images.githubusercontent.com/4622378/36146988-62036622-10ae-11e8-9f98-4b170e07cb20.png)

[2018-02-14 10:46] notlee commented on #78
Hi @dndhm sorry for the delayed reply. Thanks for bringing this to our attention! I have updated the demos in v6.4.0, it should appear in the registry within an hour.
https://github.com/Financial-Times/o-table/releases/tag/v6.4.0

[2018-02-14 10:46] #78 closed

[2018-02-14 10:48] dndhm commented on #78
@notlee No problem - thanks for entertaining my pedantry.

[2018-02-14 10:49] notlee commented on #80
@laurieboyes `v6.4.0` adds the data attribute `data-o-table-heading-disable-sort`. Apply that to your heading to disable sort 👌
https://github.com/Financial-Times/o-table#disable-sort-on-one-or-more-columns

[2018-02-14 10:49] #80 closed

[2018-02-14 12:33] notlee commented on #78
I love pedantry. Thanks again :)

[2018-02-16 09:58] Limess opened #84 "Does not sort based on localised characters"
## Issue
The default sort places localised characters, for example: `Æ`, last in the sorted list.

## Expected
The characters are compared using [`String.prototype.localeCompare`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare) rather than direct string comparison to take into account locales.

## Example:
[code]

[2018-02-16 14:04] #84 closed

[2018-02-16 14:06] notlee commented on #84
Wonderful issue writing 👏

[2018-02-23 14:37] notlee opened #86 "Paginated Sort"
Sort does not work for paginated tables as the table does not have all the data to sort.
We need a way to intercept the sort and repopulate the table with data sorted server side.

Brain dump:

Possible solution #1
Fire an event which can prevent sorting whilst leaving aria labels / icon functionality:
[code]

Possible Solution #2:
Provide some other api to prevent the attachment of sort event lis

[2018-05-30 16:50] notlee opened #92 "Expand Sort Functionality"
`o-table` [is being implemented in articles](https://github.com/Financial-Times/upp-ftcom-lovin/issues/43#issuecomment-392034912). It could be improved by adding sort support for new types of data.

Proposed additions (needs fleshing out):
- Sort links (if markup within `td` isn't ignored already already when sorting).
- Sort dates.
- Sort ft numbers (e.g. abbreviations of billions, millions).
- S

[2018-05-30 16:59] notlee opened #93 "Indicate Scrollable"
Out of the box it is not super clear that a responsive instance of `o-table` is scrollable.

Markets data currently have a custom solution to solve this, which involves a drop shadow and left/right scroll buttons:

<img width="456" alt="screen shot 2018-05-30 at 17 53 33" src="https://user-images.githubusercontent.com/10405691/40735339-e15dcd86-6432-11e8-9432-6258268025f2.png">

Feature requested

[2018-05-30 17:08] notlee opened #94 "Expander to hide / show more rows"
[This page](https://ig.ft.com/us-elections/polls/) implements a custom table expander. Clicking "show more polls" reveals the full length of the table:

![kapture 2018-05-30 at 18 03 09](https://user-images.githubusercontent.com/10405691/40735707-cc2e784c-6433-11e8-89d9-1f89beccef57.gif)

Is this a behaviour we should support directly within `o-table`?
If so, initial feedback from @draysonandstock

[2018-07-23 15:01] rowanmanning opened #98 "Is there a need for a bordered table?"
@wheresrhys mentioned a need for this, the current Dewey design has an example:
https://dewey.in.ft.com/runbooks/origami-image-service-v2

@draysonandstock could we have a chat about it?

[2018-07-23 15:18] draysonandstock commented on #98
@rowanmanning yes let's discuss. We should have a version for it, even if we just spec a colour and  thickness for any borders.

[2018-08-30 13:35] gvonkoss opened #102 "font attribute inheriting"
see https://github.com/Financial-Times/o-layout/issues/22

[2018-09-06 14:38] notlee opened #103 "Add dom-delegate on the next breaking"
https://github.com/Financial-Times/ftdomdelegate

[2018-11-14 11:19] notlee commented on #92
Released in v7 https://github.com/Financial-Times/o-table/pull/108

[2018-11-14 11:19] #92 closed

[2018-11-14 11:19] notlee commented on #93
Released in v7 https://github.com/Financial-Times/o-table/pull/108

[2018-11-14 11:19] #93 closed

[2018-11-14 11:19] notlee commented on #94
Released in v7 https://github.com/Financial-Times/o-table/pull/108

[2018-11-14 11:19] #94 closed

[2018-11-14 11:21] notlee commented on #98
Table rows and borders where updated in v7 with direction from IG: https://github.com/Financial-Times/o-table/pull/108

[2018-11-14 11:21] #98 closed

[2018-11-14 11:23] notlee commented on #102
We decided not to inherit font attributes as we don't know the context the table will be placed. For example a table in an article should not inherit line-height.

[2018-11-14 11:23] #102 closed

[2018-11-14 11:26] notlee opened #124 "Spacing issue on expandable table."
When expended, the last row may be partially obscured.
https://github.com/Financial-Times/biz-ops-admin/issues/147

[2018-11-14 15:41] wheresrhys commented on #98
:tada:

[2018-11-27 15:05] #124 closed

[2019-01-09 12:32] j-mes opened #132 "<abbr> tag not loaded in table headings"
[type]: Bug

## What

Using `<abbr>` tag in table headings. This is loaded in correctly if JavaScript is disabled, however with JS being enabled, it does not load the `<abbr>` markup in the table heading cells.

## Details
Using [Email Platform Analytics](https://ep.ft.com/analytics) as an example:

### With JavaScript disabled
The `<abbr>` tag is included in the markup by default. See screenshot

[2019-01-09 16:15] #132 closed

[2019-01-31 14:26] umbobabo opened #136 "Visual feedback not present when sorting huge tables"
Add visual feedback for the user while sorting huge tables to prevent that they think that nothing is happening.

## What

We are implementing o-table with huge tables and has been communicated that is not an unusual scenario in Editorial content.
A table can be 1000 rows and 8 columns for instance.
In such a case, there is a perceivable delay after the click on the sort icon of one of these colum

[2019-01-31 14:36] kavanagh opened #137 "Column header baseline alignment"
## What
The header text for a mix of sortable and unsortable columns are not vertically aligned on the same baseline.

## Details
* Notice on Chrome v71
* Expect the column headers to be aligned along the baseline

<img width="605" alt="o-table__basic_demo" src="https://user-images.githubusercontent.com/684559/52061213-bf204b00-2565-11e9-9486-f18ec92da20f.png">

[2019-01-31 16:06] JakeChampion commented on #136
@umbobabo Do you have a screen recording of what this looks like at all? Or a URL which has a large o-table which shows this issue?

[2019-01-31 16:51] notlee commented on #136
Here's an example (as posted in #ft-origami) https://www.ft.com/content/762f0c84-d618-11e8-a854-33d6f82e62f8

[2019-02-05 13:20] notlee commented on #137
Thanks! This is fixed in v7.0.9 (PR: https://github.com/Financial-Times/o-table/pull/138)

[2019-02-05 13:20] #137 closed

[2019-02-05 13:27] #136 closed, assigned to nobody

[2019-02-05 13:40] notlee opened #139 "Handle rows with missing cells on sort."
Either sort correctly assuming empty cells, or error helpfully.

Context:

Slack: https://financialtimes.slack.com/archives/C02FU5ARJ/p1549294828121000

[2019-02-05 18:25] umbobabo commented on #136
Fantastic! Thank you @notlee

[2019-02-15 12:54] umbobabo opened #142 "Support Server Side rendering"
Feature request.

## What
In some cases, you want to use features like `Responsive Flat` but rendering Server Side.

## Details

We wanted to use the `Responsive Flat` view on AMP importing only the necessary CSS for that kind of view.
We then realised that the `stacked` view implies a transformation converting columns into rows that happens in the Client via the Javascript.

We didn't want to rep

[2019-02-15 16:16] ludrob commented on #142
I like this idea, the alternative would be complex and duplicated pieces of logic in the transformers, not good...

[2019-02-18 15:58] notlee opened #143 "Add a sticky table header?"
Editorial have requested a sticky table header. Some issues to consider:

- From a technical point of view implementing a sticky table header problematic for our responsive tables. That's because the table's scroll wrapper `o-table-scroll-wrapper`, a wrapping element which enables a horizontally scroll-able table with left/right scroll controls, creates a new [scroll container](https://developer.m

[2019-02-19 11:26] notlee opened #145 "Handle multiple `tbody` elements on sort."
`o-table` can not currently sort multiple `tbody` elements. It will sort only the elements in the first `tbody` element, which is unhelpful in the cases I've seen. So instead maybe sort should be disabled if multiple `tbody` elements are found.

[2019-02-22 14:49] GeoffThorpeFT opened #146 "Allow Filtering by Column Value"
A Feature request

## What
We make use of o-table as a way of presenting lists to our customers. Some of those lists are fairly long and trigger scrolling. Each customer potentially wants to see a slightly different subset of the data.
If the customers were able to filter the table by values within columns then they could adjust the table into their desired view - without us having to generate lot

[2019-02-22 15:18] gvonkoss opened #147 "Disable sorting"
## What
According to the README
[code]
should disable sorting on a table, but it isn't taking effect.

Disabling sort on columns individually _is_ working ✌️

(Tried it out on origami-test.ft.com)

[2019-03-01 12:08] MHALE-FT opened #148 "Table filter (single filter) for editorial"
## What
An update to the table design to include a single filter - instigated by editorial request + instances of the table appearing without a standardised design for including a filter.

## Details

## Additional information
For either type of issue:
	- UXD recommendation - Table should include a headline and table functionality should appear to be visually related to, rather than distinct from

[2019-03-01 12:29] notlee commented on #148
Just removed the comments `<!--` so your description shows up :)

[2019-05-08 10:17] notlee commented on #142
Hey all 👋 If memory serves correctly this was for AMP and we decided not to use the `responsive flat` version of the table for UX reasons (it could result in very long pages). We decided if we need something like this in the future, `o-table` could provide a CSS class to show the flat style regardless of viewport size and document the markup needed. As it's not needed any longer, closing this for

[2019-05-08 10:17] #142 closed

[2019-05-08 10:19] notlee commented on #146
I'm closing this issue as we have now introduced [table filtering](https://github.com/Financial-Times/o-table/#filtering) -- we discussed how the [JS api](https://github.com/Financial-Times/o-table/#filter-imperative) could be used for more advanced usecases.

[2019-05-08 10:19] #146 closed

[2019-05-08 10:23] notlee commented on #148
We recently launched [table filtering](https://registry.origami.ft.com/components/o-table@7.3.0#demo-filter) following a beta last month. There is currently a space between the filter select box and its label in [the demo](https://registry.origami.ft.com/components/o-table@7.3.0#demo-filter) but there is a modifier class `.o-forms-title--shrink` being introduced [in the next o-forms major](https:/

[2019-05-08 10:25] notlee opened #157 "Filtered table with no results clipping"
1. Fix the table height, which is inconsistently calculated causing the heading to sometimes clip (https://sos.in.ft.com/Team/business-intelligence-team):
<img width="893" alt="Screenshot 2019-05-08 at 11 11 56" src="https://user-images.githubusercontent.com/10405691/57368718-bdc57680-7183-11e9-9075-dd02be495ca1.png">

2. Add indication that there are no results for the filter.

[2019-05-29 14:10] notlee opened #160 "Handle data updates"
React users of o-table [are using private methods](https://github.com/Financial-Times/g-components/blob/master/components/data-table/index.js#L68) as its the only means to update an instance of o-table with new table headers or rows. Create a supported solution.

[2019-06-03 13:46] notlee opened #161 "Table layout"
I've been asked about table overflow where the content of the table is generated elsewhere and includes urls. In this case a fixed layout with explicit column width was useful. Should o-table provide utility classes for a fixed layout, so build service users don't have to repeat this css?

[code]

[2019-06-27 11:06] JakeChampion commented on #143
An internal tech tool made by Customer Products was also wanting a sitcky header based table layout

[2019-07-02 11:36] notlee opened #163 "Remove the CSS class `.o-table-margin-bottom`"
This is no longer needed now we have [o-spacing](https://github.com/Financial-Times/o-spacing) for build service users.

[2019-08-05 13:56] rowanmanning opened #164 "Multiple Filters"
@kitkat119 is building a filtered table for Junior Squad, for the IP catering app, and they'd like to be able to apply multiple filters to a table.

I'm not sure whether it makes sense to extend o-table filtering to support this, or have an example somewhere for multiple filters.

[2019-08-20 10:21] notlee commented on #160
https://github.com/Financial-Times/o-table/pull/165

[2019-08-29 07:50] notlee opened #166 "o-table complete breaking checklist"
Origami plan to release major new versions of low level components, which remove technical debt from recent additions such as component branding, and implement more recent proposals such as adding a primary Sass mixin and removing custom classes from many Sass interfaces.

**steps**

- [x] Add MIGRATION.md
- [x] Add a [primary mixin](https://github.com/Financial-Times/origami-proposals/issues/6),

[2019-09-05 15:23] chee commented on #166
o-table doesn't seem to have any public mixins other than the primary mixin

[2019-09-06 14:59] chee commented on #59
Sorry, it's taken so long to get a reply to this!

in the future i think we'd recommend listening to the [o-table events](https://github.com/Financial-Times/o-table/blob/0ac44c97263cb33c5ccc2ed78b78f1efe1982815/src/js/Tables/BaseTable.js#L409-L417) and tracking those from the app!!

[2019-09-06 14:59] #59 closed

[2019-09-09 10:15] notlee commented on #166
This is done and will be released as part of the major cascade, closing to keep track of progress. Thanks Chee! 🎉

See PR: https://github.com/Financial-Times/o-table/pull/169

[2019-09-09 10:15] #166 closed

[2019-09-09 10:16] notlee commented on #163
This is done and will be released as part of the major cascade, closing to keep track of progress. Thanks Chee! 🎉

See PR: https://github.com/Financial-Times/o-table/pull/169

[2019-09-09 10:16] #163 closed

[2019-09-09 10:17] notlee commented on #148
This was completed

[2019-09-09 10:17] #148 closed

[2019-09-20 15:36] notlee opened #171 "test"
## What

## Details

[2019-09-20 15:40] notlee commented on #171
o-table bundle size difference from 7.4.0 to 0ac44c97263cb33c5ccc2ed78b78f1efe1982815
No bundle size difference found.

[2019-09-20 18:10] notlee commented on #171
success!

[2019-09-20 18:10] #171 closed

[2020-01-24 16:32] AniaMakes opened #177 "Documentation needs improvement"
I tried to implement Responsive Overflow table. The code snippet demo suggests I need to add classes to the relevant elements. Ditto the snippet which is on github.
Neither says that for this to work, oTables need to be initialised in the same file that has `this.initPage()`(does this vary? I'm going what's in the project I'm working at) - although initialisation is described later on the page.
Th

[2020-01-24 17:25] notlee commented on #177
Thanks for highlighting, this is a good suggestion. Some Origami users use the [Build Service](https://origami.ft.com/docs/services/#build-service) and only need to think about markup, everything else is handled by the Build Service. Maybe a helpful approach would be to add a note under each feature in the markup section along the lines of "include [x] Sass feature and JS if not using the Build Se

[2020-01-28 15:27] notlee commented on #177
I've added to the readme which I hope will help point people in the right direction in the future, so I'm going to close this issue. This tutorial might be helpful if you haven't seen it already https://origami.ft.com/docs/tutorials/manual-build/ and also there is more detailed information about initialising component JS here https://origami.ft.com/docs/components/initialising/

If you have any mo

[2020-01-28 15:27] #177 closed

[2020-02-05 12:58] edds opened #180 "Responsive flat accessibility issue"
## What

The duplicate headings that the responsive flat table adds in are causing our Pa11y tests to fail with the following message:

## Details

This can be seen on the [responsive flat table demo](https://www.ft.com/__origami/service/build/v2/demos/o-table@8.0.1/responsive-flat?brand=master), the multiple headers that can apply to the `td` tags means assistive tech doesn't know which headers t

[2020-02-05 14:22] notlee commented on #164
David Balfour is working on a Spark prototype which uses a text input as a filter. They would like to be able to use multiple filters, to filter using checkboxes also:

<img width="1099" alt="Screenshot 2020-02-05 at 14 16 19" src="https://user-images.githubusercontent.com/10405691/73849978-ca662080-4822-11ea-899e-c789bc3d7eac.png">

[2020-02-05 15:23] notlee commented on #180
Hmmm I'm not sure about this one. I think it might be unnecessary and would rather not calculate the `headers` attribute for each cell if we can help it. The duplicate headings are created with JS and hidden from screen readers using `display: none`. On a mobile breakpoint the headings switch and the original headings are hidden with `display: none` instead. So there are only ever one set of headi

[2020-02-05 17:04] notlee commented on #180
Good news! Our demo failed in the same way in Circle -- I must have been using an older version of pa11y. https://circleci.com/gh/Financial-Times/o-table/596?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2020-02-05 17:33] edds commented on #180
On a mobile layout is exactly when the markup doesn't make sense . The markup which I listed above all gets rendered with no `display: none`. In that situation you have 5 headers on one row which are all claiming to be the `rowheader`. They might visually they look like different rows but assistive tech it can't see that.

[2020-02-05 17:36] notlee commented on #180
Oh I see! Sorry I'm not sure where my brain went with this. Thanks for explaining again. We'll put together a fix 😊

[2020-02-21 13:47] notlee commented on #180
A fix for this was released in v8.0.3. The table markup is now valid on mobile
devices; it is no longer announced as an empty table using VoiceOver; and
is in our own pa11y test. But there is room for improvement regarding how
each item in the table is delineated to screen reader users when flat on
mobile devices. https://github.com/Financial-Times/o-table/pull/181

[2020-02-21 13:47] #180 closed

[2020-03-05 09:26] rowanmanning commented on #143
I have another request for this from @GeoffThorpeFT.

In SSV (Single System View), there are some very long tables. Currently when you scroll down the table, it's easy to lose track of what each column is for. Would it be possible to have a sticky heading row for the table which scrolls with the viewport?

An example of one of SSV's long tables is here on the [Team Summary page](https://ssv.in.ft.

[2020-03-24 11:26] petrklus opened #188 "Table sort buttons are not descriptive"
## What

During accessibility review, it has been noted that usage of the `title` attribute to denote sorting action is not sufficient. Please see full comment below:

## Details

A recommended solution is to add screen-reader accessible descriptions that can be placed into a visually hidden element, see example below:

[code]

[2020-04-29 12:05] #147 closed

[2020-06-18 20:15] wheresrhys opened #206 "Sort by date does don't use 'datetime' value of <time> elements"
## What
Using o-date on time elements in a column converts the text to a relative time string. While sorting by date should still work for 'ft time' strings it does not work for these relative times.

Would it be more efficient, and more general/correct to first take the datetime value from any o-date/<time> elements and use that to sort by, falling back to coercing text to a date?

[2020-06-22 10:54] #206 closed

[2020-06-24 16:17] wheresrhys opened #208 "Feature: Allow preferring to sort in descending order"
## What
If a column is sortable, but initially unsorted, clicking the heading once sorts in ascending order, clicking again goes to descending.

It would be great to be able to specify that if the user chooses to sort, prefer to put in descending order on the first click. Use case: on https://risks.in.ft.com/, for any sortable column it makes sense to sort with the largest, scariest values at the

[2020-06-30 10:45] notlee commented on #208
There's no way to do this at the moment without sorting the table with the `sortRowsByColumn(columnIndex, sortOrder)` method. Adding a constructor option with declarative attribute like `o-table-initial-sort-order` seems like a good new feature to me :)

[2020-07-01 16:17] wheresrhys commented on #208
Thanks for the new feature - we will use it as soon as we can get a build out.

But we also have a use case fro applying different settings per column:
- the name field should be sorted ascending
- the score field should be sorted descending

[2020-12-08 14:23] notlee commented on #208
hey I asked for design input on this in the [design-ops channel](https://financialtimes.slack.com/archives/C01481FKWA2/p1606908299168600). Josh replied with some thoughts:

I'm glad we're agreed on choosing the default table sort across all columns, since we implemented that already! 😅 I agree having a different default sort per column has problems and is not intuitive. We need to find another way

[2020-12-08 14:48] wheresrhys commented on #208
I disagree quite strongly.

I think the issue here is that for different data types, custom sort order per column absolutely makes sense, and can make tables more intuitive, while I think the argument put forward above only really applies to columns of the same data type as each other.

We already do this, but the decision above means that if a user sorts by another column, and then clicks back to

[2020-12-08 16:26] notlee commented on #208
That's not the case with `data-o-table-preferred-sort-order="descending"`, to prioritise score as a sortable column.

Maybe. [This blog advocates that approach](https://blog.jooq.org/2016/03/07/ui-developers-choose-sensible-default-ordering/) but otherwise I've never seen a sortable table that behaves that way. The pattern of clicking a table column twice to toggle sort is a pretty established, if

[2020-12-08 16:58] wheresrhys commented on #208
But if I set that globally then alphabetical sort is descending too, which is not what I, or the user, will expect when clicking a column to sort alphabetically.

I think this is an imagined breaking of expectations based on a hypothetical example where every column is sorted differently, even when they have the same data type. I am after something far more restrained and less expectation breaking

[2020-12-08 17:40] notlee commented on #208
No I looked at GDS, Material UI, Carbon Design, Lightning to see how their tables worked. I'm not 100% but couldn't find existing examples from these large design systems. That's not to say we shouldn't but points to this being niche and potentially not an intuitive pattern.

That expectation is not based on data type but use-case, the data that the user wants to see in that moment. Depending on t

[2021-02-01 10:47] chee commented on #208
i've posted the link to this issue in the #design-ops channel on Slack.
i'm going to close it because it appears a design decision was already made not to go forward with this request.
feel free to continue the discussion here, or in the #design-ops channel.

[2021-02-01 10:47] #208 closed

[2021-02-01 13:40] chee commented on #188
hi! thanks for opening this. it looks like we've chosen to support VoiceOver over other screen readers for some reason.

I'm wondering why it's a bad thing for what the button does to be read out every time the user moves to a new column? isn't the button different for each column? @notlee @nickcolley

[2021-02-01 14:06] notlee commented on #188
If I remember correctly the issue was that using `aria-label` on the button meant the button content was announced when moving across data cells within the table itself, where there is no button to sort.

| a (sort a by dec) | b (sort b by asc) |
|-------------------|-------------------|
| 1                 | 3                 |
| 2                 | 4                 |

So in the above table navi

[2021-02-11 15:31] JakeChampion commented on #188
@petrklus do you happen to know what specific assistive technology and version was being used when the reviewer came across this issue?

Chee has done an investigation using several different screenreaders and not been able to replicate the issue (https://github.com/Financial-Times/o-table/pull/239#issuecomment-775890808)

[2021-02-26 14:45] JakeChampion commented on #188
@petrklus is there any more information you can give us to help reproduce this issue at all?

[2021-03-01 13:51] petrklus commented on #188
hi @JakeChampion , original report sent via email.

[2021-03-05 15:07] JakeChampion commented on #188
Thank you for the report @petrklus, the feedback in the report is confusing to read. It sounds like the screen reader user gave feedback that they want the column-header and sort button to be repeated when they navigate between cells.

Let's create a branch/pr for these two implementations:
 - https://inclusive-components.design/data-tables/
 - https://moj-design-system.herokuapp.com/components/so

[2021-03-19 17:47] JakeChampion commented on #188
This was a good read on different table sorting implementations and how they iteract with screenreaders -- https://adrianroselli.com/2020/09/sortable-table-column-mad-libs.html

[2021-03-25 16:00] chee opened #248 "Allow for multiple filters to be declared declaratively"
https://github.com/Financial-Times/o-table/blob/v8.1.4/src/js/Tables/BaseTable.js#L98

Not sure if we have a good reason for using `querySelector` here and only allowing one filter to exist on the page?
@balfourd has a use case where it would be helpful for us to allow for multiple filters defined in the dom this way

[2021-03-25 16:01] chee commented on #248
i believe they can already do it programatically by using the [filter](https://github.com/Financial-Times/o-table/blob/v8.1.4/src/js/Tables/BaseTable.js#L322-L327) function with a callback param

[2021-03-25 16:17] notlee commented on #248
There are other places which would need to be updated in addition to the querySelector, like this line which re-applies the filter after rows update:
https://github.com/Financial-Times/o-table/blob/3e9251646d182a064406ecbcbfb93d8edf670e48/src/js/Tables/BaseTable.js#L154

I believe that's correct

[2021-03-25 16:18] notlee commented on #248
This is a duplicate of https://github.com/Financial-Times/o-table/issues/164 shall we close this one for that?

[2021-03-25 16:19] #248 closed

[2021-04-20 10:53] JakeChampion commented on #188
Looking more into this, we should likely follow what the WCAG example for a [Sortable Data Grid](https://www.w3.org/TR/2019/NOTE-wai-aria-practices-1.1-20190814/examples/grid/dataGrids.html#ex2_label)

[2021-07-26 14:26] notlee opened #255 "Feature request: Add visual support for multiple table headers"
Multiple table headers are supported for the responsive-overflow table in terms of JavaScript
functionality but not visually. Currently CSS overrides are used to style borders, e.g:
https://ig.ft.com/tokyo-olympics-alternative-medal-table/
![Screenshot 2021-07-26 at 15 22 03](https://user-images.githubusercontent.com/10405691/127004829-5b984a31-cbce-4db1-8536-25a13e402c14.png)

Work with the graph

[2021-08-13 08:47] wheresrhys opened #258 "Possible bug/documentation error in date sorting"
It states:

date | Supports the FT style of date and time, including abbreviation. | "Aug 17", "1.30am", "April 20 2014 1.30pm"
-- | -- | --

I've found when applying to Biz Ops that it works if I have a `<time>` element in the cell with a valid `datetime` attribute, but treats the content as text (even when the header has `data-o-table-data-type="date"`) if the date is just printed out in a span.